@model IEnumerable<UELWeb2Hasako.Models.BanChayNhat>

@foreach (var hs in Model)
{
    <div class="bestsellers_item discount">
        <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
            <div class="bestsellers_image"><img src="~/images/@hs.AnhBia" alt=""></div>
            <div class="bestsellers_content">
                <div class="bestsellers_category"><a href="#">@hs.TenDM</a></div>
                <div class="bestsellers_name"><a href="product.html">@hs.TenHS</a></div>
                <div class="rating_r rating_r_4 bestsellers_rating"><i></i><i></i><i></i><i></i><i></i></div>
                <div class="bestsellers_price">@hs.DonGia VNĐ</div>
            </div>
        </div>
        <div class="bestsellers_fav active"><i class="fas fa-heart"></i></div>
        <ul class="bestsellers_marks">
            @*<li class="bestsellers_mark bestsellers_discount">-25%</li>*@
            @*<li class="bestsellers_mark bestsellers_new">new</li>*@
        </ul>
    </div>
}


