@model IEnumerable<UELWeb2Hasako.Models.DANHMUCHAISANKHO>

<div class="shop_sidebar">
    <div class="sidebar_section">
        <div class="sidebar_title">Danh mục</div>
        <ul class="sidebar_categories">
            @foreach (var item in Model)
            {
                <li><a href="@Url.Action("SPTheodanhmuc","Hasako",new { id = item.MaDM })">@item.TenDM</a></li>
            }
        </ul>
    </div>
    <div class="sidebar_section filter_by_section">
        <div class="sidebar_title">Filter By</div>
        <div class="sidebar_subtitle">Price</div>
        <div class="filter_price">
            <div id="slider-range" class="slider_range"></div>
            <p>Range: </p>
            <p><input type="text" id="amount" class="amount" readonly style="border:0; font-weight:bold;"></p>
        </div>
    </div>
</div>
